.app-notification-root {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 50;
  margin-right: 2em;
  margin-left: 2em;
  margin-bottom: 0.7em;
  max-width: 50%;

  @media (max-width: 801px) {
    left: 0;
    max-width: 100%;
  }
}

.notification-box {
  border-radius: 0.8em;
  border: black solid 0.2em;
  background: gray;
  padding-left: 1em;
  padding-right: 1em;
  margin-bottom: 0.2em;
  margin-top: 0.2em;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.notification-text {
  font-size: 1.2em;
  text-align: center;
}

.show-notification {
  opacity: 1;
}