.create-update-list-grayed-out-background {
  background: #999c9e80;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
}

.modify-list-box {
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translate(0%, -50%);
  display: flex;
  flex-direction: column;
  padding: 10px;
  z-index: 21;

  @media (min-width: 801px) {
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}

.modify-list-header {
  color: black;
  margin: 0 0 0.5em;
}

.modify-subreddit-list-button-box {
  gap: 0.3em;
}

.search-input {
  font-size: 1.2em;
}

.create-update-list-input-error {
  margin: 0;
}

.create-update-button-box {
  margin-top: 1em;
  gap: 0.5em;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  cursor: pointer;
  width: 100%;
  height: 2.6em;
  display: flex;
  align-items: center;
}

.accordion-background {
  background: var(--accordion-background);
}

.subredditListsExpander {
  overflow-y: auto;
  flex-grow: 1;
}

.subredditListsExpander > * {
  border-top: 0.01em solid var(--app-border-color);
  border-bottom: 0.01em solid var(--app-border-color);
}

.subredditListCheckbox {
  margin-right: 1em;
  width: 2em;
  height: 2em;
  margin-left: 0.7em;
}

.subredditListLabel {
  font-size: 2rem;
  cursor: pointer;
}

@media (max-width: 801px) {
  .subredditListLabel {
    font-size: 1em;
  }
}

.subreddit-name-text {
  cursor: default;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: var(--accordion-hover-color);
}

.accordion:after {
  content: "\02795\fe0e";
  /* Unicode character for "plus" sign (+) */
  font-size: 1.8em;
  color: var(--text-color);
  margin-left: auto;
  margin-right: 0.5em;
}

div.active:after {
  content: "\2796\fe0e";
}

.panel {
  padding: 0 18px;
  overflow: hidden;
  max-height: 0;
  transition: max-height 500ms ease-out;
}

.panel-open {
  height: auto;
  max-height: var(--panel-div-max-height);
}

.button-box {
  flex-direction: column;
  margin-top: auto;
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  @media (min-width: 801px) {
    flex-direction: row;
  }
}
