.modify-subreddit-queue-ion-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modify-subreddit-queue-root {
  color: var(--text-color);
  width: 100%;
  height: 100%;
}

.empty-subreddit-queue-text {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate((0%, -50%));
}

.subreddit-queue-item {
  border-top: 0.01em solid var(--app-border-color);
  border-bottom: 0.01em solid var(--app-border-color);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}

.subreddit-queue-item-label {
  margin-left: 1em;
}

.subreddit-queue-item-controls {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: 2em;
}

.queue-item-control-delete {
  align-self: center;
  font-size: 2.5em;
  margin-right: 0.5em;
}

.queue-item-control-move-up-down {
  font-size: 3em;
  rotate: 90deg;
}

.queue-item-control-move-down-margin-left {
  margin-left: 0.5em;
}
