.modify-subreddit-queue-ion-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.modify-subreddit-queue-root {
  color: var(--text-color);
  width: 100%;
  height: 100%;
}

.empty-subreddit-queue-text {
  position: relative;
  text-align: center;
  top: 50%;
  transform: translate((0%, -50%));
}

.subreddit-queue-item {
  border-top: 0.01em solid var(--app-border-color);
  border-bottom: 0.01em solid var(--app-border-color);
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}

.subreddit-queue-item-label {
  margin-left: 1em;
  align-self: center;
}

.subreddit-queue-item-controls {
  margin-left: auto;
  display: flex;
  flex-direction: row;
}

.queue-item-control {
  align-self: center;
  height: 60%;
  width: 4em;
  object-fit: contain;
}