.top-bar {
  background: #202124;
  color: white;
  cursor: default;
  white-space: nowrap;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  height: 10px;
  z-index: 20;
}

.top-bar-inner {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  align-items: center;
  box-shadow: 0 1em 0.8em 0 rgba(0, 0, 0, 0.2);
}

.hamburger-icon {
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 0.5em;
  cursor: pointer;
  gap: 0.3em;
}

.hamburger-icon > div {
  width: 1.8em;
  height: 0.3em;
  background-color: white;
}

.hamburger-icon :nth-child(1) {
  margin-top: auto;
}

.hamburger-icon :nth-child(3) {
  margin-bottom: auto;
}

.back-arrow {
  display: flex;
  height: calc(100% - 0.5em);
  width: 3em;
  cursor: pointer;
  margin-left: 0.4em;
  margin-right: -0.7em;
  align-self: center;
}

.back-arrow > img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.top-bar-title-box {
  display: flex;
  overflow-x: hidden;
}

.tool-bar-title {
  margin: 0 0 0 0.5em;
  font-size: 2em;
  align-self: center;
  white-space: normal;
}

.drawer-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(119, 119, 119, 0.5);
  z-index: 20;
}

.drawer-popout {
  white-space: nowrap;
  position: absolute;
  background: #292a2e;
  color: white;
  min-width: 240px;
  max-width: 75%;
  top: 0;
  bottom: 0;
  z-index: 20;
  display: flex;
  flex-direction: column;
  transform: translate(-100%, 0);
  transition: transform 250ms;
  overflow-y: auto;
}

.drawer-popout-open {
  transform: translate(0%, 0%);
}

.drawer-popout-main {
  flex-grow: 1;
}

.drawer-popout-item {
  cursor: pointer;
  height: 3em;
  display: flex;
  align-items: center;
  justify-content: left;
}

.drawer-popout-item-text {
  margin-left: 0.5em;
  font-size: 1.3em;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align-self: center;
  margin-left: auto;
  margin-right: 1em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.drawer-popout-footer {
  margin-top: auto;
}

@media screen and (max-width: 801px) {
  .tool-bar-title {
    // font-size: 1.5em;
    font-size: 1.3em;
  }
  .back-arrow {
    height: calc(100% - 1em);
  }

  .hamburger-icon {
    gap: 0.3em;
  }

  .hamburger-icon > div {
    width: 1.4em;
    height: 0.2em;
  }

  .drawer-popout-item-text {
    font-size: 1em;
  }
}
