.next-post-countdown-timer {
  background: gray;
  position: absolute;
  right: 2em;
  bottom: 1.5em;
  border-color: black;
  border-width: 0.2em;
  border-style: solid;
  border-radius: 1em;
}

.next-post-countdown-timer-text-box {
  margin: 1em;
}

.next-post-countdown-timer-text {
  font-size: 1.2em;
  margin: 0;
}