.post-rows-div {
  overflow-y: auto;
  height: 100%;
  max-height: 100%;
}

.postRow {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  position: relative;
}

.postRowScrollButton {
  width: calc(1em * var(--post-row-scroll-btn-width-em));
  min-width: calc(1em * var(--post-row-scroll-btn-width-em));
  height: 100%;
  object-fit: contain;
  position: absolute;
  top: 0;
  z-index: 10;
  background-color: g;
}

.rightPostRowScrollButton {
  right: 0;
  background: linear-gradient(-90deg, var(--background) 0%, rgba(0, 0, 0, 0) 100%);
}

.leftPostRowScrollButton {
  left: 0;
  background: linear-gradient(90deg, var(--background) 0%, rgba(0, 0, 0, 0) 100%);
}

.postRowContent {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex-grow: 1;
  overflow: hidden;
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  gap: calc(1em * var(--post-card-gap-em));
}

.postRow:focus {
  box-shadow: 0 0 0 0 #f90; /* or whatever colour you'd prefer */
  outline: none;
}

.postRowScrollImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}