.seconds-till-next-post-row-counter-div {
  position: absolute;
  bottom: 2em;
  right: 2em;
  @media (max-width: 801px) {
    right: 1em;
    max-width: 50%;
  }
  background-color: gray;
  z-index: 3;
  border: 0.2em solid black;
  border-radius: 1em;
  padding: 1em 1em;
  min-width: 15em;
}

.seconds-till-next-post-row-counter-div > p {
  font-size: 1.2em;
  margin: 0;
  text-align: center;
}