.single-post-view {
  width: 100%;
  height: 100%;
}
.post-control-button-box {
  padding: 1em 0.8em 1em 0.8em;
  margin-top: auto;
  display: flex;
  gap: 0.5em;
}
.post-control-button-wrapper {
  width: 50%;
  display: inline-block;
}

.post-control-button {
  width: 100%;
}
